.section-1 {
  background-color: #00b1b1;
  background-size: cover;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .section-1 .sec-1-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; }
  .section-1 .sec-1-content {
    width: 50%;
    padding-left: 2rem; }
    .section-1 .sec-1-content h1 {
      font-size: 9rem;
      font-weight: bold;
      color: #f9f8fb; }
    .section-1 .sec-1-content p {
      font-weight: lighter;
      font-size: 1.7rem;
      color: #f9f8fb;
      padding-bottom: 2rem;
      width: 50%; }

.section-2 {
  background-color: #70bfff;
  background-size: cover;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .section-2 .section-2-nav ul li {
    width: 40rem;
    height: 8rem;
    border: 1px solid #f9f8fb;
    background-color: #f9f8fb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2rem; }
    .section-2 .section-2-nav ul li a {
      width: 300px;
      padding-left: 3rem;
      text-align: center;
      text-decoration: none;
      font-size: 2rem;
      font-weight: bold;
      color: #262626; }
    .section-2 .section-2-nav ul li img {
      width: 8rem;
      height: 8rem;
      right: 2px;
      position: absolute;
      top: 0px;
      padding: 17px;
      border-left: 1px solid #9d9d9d; }
  .section-2 .section-2-pic {
    width: 60rem;
    position: relative;
    margin-left: -30rem; }
    .section-2 .section-2-pic h1 {
      font-size: 8rem;
      font-weight: bold;
      color: #f9f8fb;
      position: absolute;
      top: 21rem;
      z-index: 200; }
    .section-2 .section-2-pic img {
      z-index: 100; }

.section-3 {
  background-color: #ffe92f;
  background-size: cover;
  width: 100%;
  height: 150vh;
  position: relative; }
  .section-3 .section-3-content {
    text-align: center; }
    .section-3 .section-3-content h1 {
      padding-top: 10rem;
      font-size: 9rem;
      font-weight: bold;
      color: #262626; }
    .section-3 .section-3-content p {
      font-size: 1.7rem;
      font-weight: lighter;
      color: #262626;
      padding: 3rem 0; }
  .section-3 .section-3-gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
    .section-3 .section-3-gallery .block-1 {
      display: flex;
      flex-direction: row;
      padding-bottom: 2rem; }
      .section-3 .section-3-gallery .block-1 img {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
      .section-3 .section-3-gallery .block-1 .sub-block {
        display: flex;
        flex-direction: column;
        padding-left: 2rem; }
        .section-3 .section-3-gallery .block-1 .sub-block img {
          margin: 1rem 0;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .section-3 .section-3-gallery .block-2 img {
      margin: 0 1rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .section-3 .section-3-button {
    position: absolute;
    bottom: 69px;
    left: 47%; }
    .section-3 .section-3-button .button {
      border: 2px solid #5585a2;
      background-color: #5585a2;
      border-radius: 3px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
      text-decoration: none;
      color: #f9f8fb;
      padding: 1rem 2rem;
      transition: all .3s; }
    .section-3 .section-3-button .button:hover {
      border: 2px solid #ff6033;
      background-color: #ff6033; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  padding: 1rem;
  font-size: 1.6rem;
  font-family: Raleway; }

.header {
  background-image: url("../img/header/header-bg.png");
  background-position: center;
  background-color: #f9f8fb;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative; }
  .header .logo {
    font-family: Pacifico;
    font-size: 5rem;
    color: #262626;
    transition: all .5s; }
  .header .logo:hover {
    transform: scale(1.5); }
  .header .header-nav {
    padding-top: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row; }
    .header .header-nav ul li {
      list-style-type: none;
      display: inline;
      padding-right: 4rem; }
      .header .header-nav ul li a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.6rem;
        color: #262626;
        padding-top: 1rem;
        transition: all .4s; }
      .header .header-nav ul li a:hover {
        border-top: 2px solid #ff6033;
        transform: scale(2); }
  .header .header-content {
    position: absolute;
    top: 403px;
    left: 280px; }
    .header .header-content h2 {
      font-family: Raleway;
      color: #262626;
      font-weight: 900;
      font-size: 6rem; }
    .header .header-content p {
      width: 40%;
      font-weight: lighter;
      font-size: 1.7rem;
      color: #262626;
      padding: 4rem 0; }
    .header .header-content .button {
      border: 2px solid #ff6033;
      background-color: #ff6033;
      border-radius: 3px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
      text-decoration: none;
      color: #f9f8fb;
      padding: 1rem 2rem;
      transition: all .3s; }
    .header .header-content .button:hover {
      border: 2px solid #96b92c;
      background-color: #96b92c; }
  .header .scroll {
    position: absolute;
    bottom: 69px;
    left: 50%; }
