@import "section-1";
@import "Section-2";
@import "section-3";
@import "section-4";
@import "section-5";
@import "section-6";
@import "section-7";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  padding: 1rem;
  font-size: 1.6rem;
  font-family: Raleway;
}

.header {
  background-image: url("../img/header/header-bg.png");
  background-position: center;
  background-color: #f9f8fb;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;

  .logo {
    font-family: Pacifico;
    font-size: 5rem;
    color: #262626;
    transition: all .5s;
  }

  .logo:hover {
    transform: scale(1.5);
  }

  .header-nav {
    padding-top: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;


    .main-menu {


      li {
        list-style-type: none;
        display: inline;
        padding-right: 4rem;


        a {
          text-decoration: none;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 1.6rem;
          color: #262626;
          padding-top: 1rem;
          transition: all .4s;
        }

        a:hover {
          border-top: 2px solid #ff6033;
          transform: scale(2);
        }


      }
    }

    .mobile-menu {
      width: 30px;
      border-bottom: 1px solid #262626;
      position: relative;
      display: none;

      &:before {
        content: "";
        position: absolute;
        width: 30px;
        border-bottom: 1px solid #262626;
        top: -10px;

      }

      &:after {
        content: "";
        position: absolute;
        width: 30px;
        border-bottom: 1px solid #262626;
        top: 10px;
      }

    }

    @media only screen and (max-width: 800px) {
      .mobile-menu {
        display: inline-block;
        margin-top: 18px;

      }
      .main-menu {
        display: none;
      }
    }
  }

  .header-content {
    position: absolute;
    top: 403px;
    left: 280px;

    h2 {
      font-family: Raleway;
      color: #262626;
      font-weight: 900;
      font-size: 6rem;

    }

    p {
      width: 40%;
      font-weight: lighter;
      font-size: 1.7rem;
      color: #262626;
      padding: 4rem 0;

    }

    .button {
      border: 2px solid #ff6033;
      background-color: #ff6033;
      border-radius: 3px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
      text-decoration: none;
      color: #f9f8fb;
      padding: 1rem 2rem;
      transition: all .3s;
    }

    .button:hover {
      border: 2px solid #96b92c;
      background-color: #96b92c;
    }
  }

  .scroll {
    position: absolute;
    bottom: 69px;
    left: 50%;

  }

}